<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
</head>
<body>
<h1>Quiz</h1>
    <form action="/submit" method="POST">
        {% for question in questions %}
          {% set qn =  loop.index0 %}
            <div>
                <p>{{ question.question }}</p>
                {% for option in question.options %}
                    <label>
                        <input type="radio" name="question-{{ qn }}" value="{{ option }}" required>
                        {{ option }}
                    </label>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>